@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  text-size-adjust: 100%;
}
h2 {
  text-align: center;
  margin-top: 50px;
  font-weight: 700;
  padding: 8px;
  font-size: 60px;
  z-index: 1;

  color: black;
}

body {
  text-align: center;
  margin: 0px;
}

#pulse {
  font-size: 28px;
}

#image {
  align-items: center;
  align-content: center;
  flex: 1;
  display: flex;
  flex-direction: column;
}

#navbar {
  flex: 1;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}


#dew {
  margin-bottom: 25px;
}

@import url(https://fonts.googleapis.com/css?family=Raleway);
.snip1580 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 8px;
  min-width: 250px;
  max-width: 310px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.snip1580 * {
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.snip1580 img {
  max-width: 100%;
  vertical-align: top;
}
.snip1580 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.75);
}
.snip1580 h3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  margin: 3px 0;
}
.snip1580 h5 {
  font-weight: 400;
  margin: 0;
  color: #bbb;
  letter-spacing: 1px;
}
.snip1580 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.snip1580:hover figcaption,
.snip1580.hover figcaption {
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background-color: #fff;
}
.snip1580:hover h3,
.snip1580.hover h3,
.snip1580:hover h5,
.snip1580.hover h5 {
  color: #333;
}

#cars {
  position: relative;
  flex: 1;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 60px;
  margin-top: 50px;
  pointer-events: none;
    :hover {
      background-color: #fff;
    }
    #brands {
      box-shadow: 0 0 10px 0 #000;
        :hover {
          background-color: #fff;
        }
    }
}


#thanks {
  color: white;
  position: relative;
  top: 250px;
  overflow: visible;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  transition: transform 1s ease-in-out;
    :hover {
      transform: scale(1.1);
      transition: transform 1s ease-in-out;

    }
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;

}

header {
  margin: 0;
  padding: 0;
  text-decoration: none;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  flex-direction: row;
  flex: 1;
  display: flex;
  height: 50px;
  z-index: 1;
  list-style-type: none;
  border-bottom: 2px solid #EEE;
  margin-bottom: 200px;
  margin-top: 10px;
}

#titles {
  align-items: center;
  align-content: center;
  position: relative;
  bottom: 420px;
  font-size: 35px;
  font-family: 'Arvo', serif;

}

#under {
  font-family: 'Arvo', serif;
  font-size: 35px;
  position: relative;
  top: 725px;
  align-items: center;
  align-content: center;
  flex-direction: column;
  display: flex;
  flex: 1;
  margin-bottom: 200px;

  @media screen and (max-width: 360px) {
    margin-bottom: 150px;
  }
}

#about {
  font-family: 'Arvo', serif;
  font-size: 35px;
  position: relative;
  top: 625px;
  align-items: center;
  align-content: center;
  border-bottom: 20px;
  flex-direction: column;
  display: flex;
  flex: 1;
  border-bottom: 2px solid #EEE;
}

#secondImage {
  position: relative;
  top: 750px;
  display: flex;
  flex-direction: column;
  width: 100%;
  display: flex;
  flex: 1;
  margin-bottom: 250px;

    @media screen and (max-width: 360px) {
      position: relative;
      top: 750px;
      display: flex;
      flex-direction: column;
      width: 100%;
      display: flex;
      flex: 1;
      margin-bottom: 250px;
    }
}

// font-family: 'Scope One', serif;
// font-family: 'Lora', serif;
// font-family: 'Bitter', serif;
// font-family: 'Arvo', serif;
// font-family: 'Sanchez', serif;
// font-family: 'Copse', serif;
// font-family: 'Cutive', serif;
// font-family: 'Trocchi', serif;
// font-family: 'Slabo 27px', serif;
// font-family: 'Vesper Libre', serif;

#brand {
  float: left;
  line-height: 50px;
  color: rgb(28, 47, 21);
  padding: 1px;
  font-family: 'Cutive', serif;
  font-size: 44px;
  z-index: 2;
  font-weight: bolder;
  direction: rtl;
}

nav {
  flex: 1;
  flex-direction: row;
  display: flex;
  text-decoration: none;
  float: left;
  width: 100%;
  text-align: center;
    a {
      display: block;
      padding: 15px 0;
      border-bottom: 1px solid #fff;
      color: #fff;
    }

    @media screen and (max-width: 360px) {
      // width: 360px;
      flex: 1;
      position: relative;
      left: -260px;
      flex-direction: column;
      display: flex;
      }

}

nav li:last-child a {
  border-bottom: none;
}

nav a :hover {
  background: #E5DAC0; color: #FFF;
}

.menu {
  width: 240px;
  height: 100%;
  top: 60px;
  position: absolute;
  background: rgb(0, 0, 0);
  left: -260px;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
    @media screen and (max-width: 360px) {
      // width: 360px;
      flex: 1;
      flex-direction: column;

      display: flex;
    }

}

.menu-icon {
  padding: 10px 15px;
  background: rgb(22,33,33); color: #fff;
  margin-bottom: 4px;
  cursor: pointer;
  float: right;
  overflow: visible;
  bottom: 5px;
  z-index: 1;
  position: relative;
  margin-top: 4px;
  border-radius: 5px;
}

#menuToggle {
  display: none;
  z-index: 1;
  position: absolute;
}

#menuToggle:checked ~ .menu {
  left: 0;
  z-index: 1;
  font-family: 'Cutive', serif;
  font-size: 24px;
  position: absolute;
  text-decoration: none;
  color: #fff;
    :hover {
      color: rgb(66,99,129);
      text-decoration: none;
    }
  @media screen and (max-width: 360px),(max-width: 375px),(max-width: 414px) {
    width: 100%;
    height: 60%;
    font-family: 'Cutive', serif;
    align-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
    display: flex;
  }
}

#aLink:checked ~ .menu {

}

#background-image {
  // background-size: cover;
  // background-image: url('http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_527bf56961712_1.JPG');
  display: flex;
  flex: 1;
  flex-direction: column;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  height: 100px;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
    @media screen and (max-width: 480px),(max-width: 414px) {
      flex: 1;
      flex-direction: column;
      width: 412px;
      display: flex;
        @media screen and (width: 320px) {
          width: 320px;
          flex: 1;
          flex-direction: column;
          display: flex;
        }
        @media screen and (width: 360px) {
          width: 360px;
          flex: 1;
          flex-direction: column;
          display: flex;
          flex-direction: column;
          display: flex;
        }
    }

}

form {
  align-items: center;
  align-content: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  top: 150px;
  left: -70px;
  float: right;
  position: relative;
  textarea {
    align-items: center;
    align-content: center;
    vertical-align: middle;
    position: relative;
    z-index: -2;
  }
    @media screen and (max-width: 360px) {
      float: right;
      position: relative;
      left: 50px;
    }
}

#F {
  color: #fff;
  font-size: 40px;
  margin-top: -10px;
    :hover {
      border-bottom: 2px solid #fff;
    }
}

#aLink {

}

#content {
  z-index: 9999;
}

ul#fList {
  color: #fff;
  justify-content: space-between;
  float: left;
  font-size: 18px;
  padding: 18px;
  flex: 1;
  display: flex;
  bottom: 40px;
  position: relative;
  flex-direction: column;
}

#footer {
  background: #015289;
  font-family: sans-serif;
  padding: 30px;
  position: relative;
  height: 400px;
  flex-direction: column;
  display: flex;
  z-index: -1;
  flex: 1;
  top: 800px;
  overflow: visible;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 25);
  li#socials {
    flex: 1;
    display: flex;
    flex-direction: row;
    cursor: pointer;

  }
  li#socials:hover {
    border-bottom: 2px solid #fff;
    cursor: pointer;
    box-shadow: 0 0 10px #fff;
  }
}

div#under {
  transition: transform 0.5s ease-in-out;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  margin: 20px;
  margin-bottom: 350px;
    :hover {
      transform: scale(1.1);
      transition: transform 0.5s ease-in-out;
      }
      @media screen and (max-width: 360px),(max-width: 375px),(max-width: 414px) {
        width: 100%;
        height: 60%;
        font-family: 'Cutive', serif;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        flex: 1;
        flex-direction: column;
        display: flex;
      }
    }

#latest-projects {
  font-size: 35px;
  margin-top: 200px;
  font-family: 'Arvo', serif;
    #projects {
      cursor: pointer;
      box-shadow: 10px 10px 10px rgba(22,28,0,10);
      @media screen and (max-width: 360px), (max-width: 450px) {
        background-size: contain;
        flex-direction: column;
        display: flex;
        flex: 1;
      }
    }
}

#socials {


}

div#navigate {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

    ul#navigate {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      position: relative;
      right: 40px;
      color: #fff;
    }
}

#navI {
  cursor: pointer;
    li:hover {
      border-bottom: 1px solid #fff;
    }
}
